.title {
	color: white;
	font-size: 2rem;
	text-align: center;
	margin: 4rem 5rem 2rem 5rem;
	font-weight: 400;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	height: fit-content;
	justify-content: center;
}

.word {
	margin: 0.2rem 0.5rem;
}
